body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    /*-webkit-text-size-adjust: 100%;*/
    text-align: center;
}

.top {
    width:100%;
    background-color: #4f4f50;
    padding-top: 0px;
    border-bottom: 0px solid #eeeeed;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 5rem;
}

.title {
    font-size: xx-large;
    color: #eeeeed;
    font-weight: bold;
    align-self: center;
}

.links {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
    color: #eeeeed;
}

a:link {
    text-decoration: none;
    color:#eeeeed;
}

a:visited {
    text-decoration: none;
    color:#eeeeed;
}

a:hover { 
    color: rgb(231, 94, 94);
}

a:active { 
    color: rgb(255, 0, 0);
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

form {
    display: flex;
    gap: 1rem;
}

select {
    background-color: #4f4f50;
    color: #eeeeed;
    font-size: 18px;
    border: 1px solid #eeeeed;
    width: 5.5rem;
}

form input {
    background-color: #4f4f50;
    color: #eeeeed;
    font-size: 18px;
    border: 1px solid #eeeeed;
}

h1 {
    font-size: 3rem;
    color: #eeeeed;
}

.mainAbout {
    color: #eeeeed;
    margin: 3%;
    padding-bottom: 50px;
}

.mainAbout img {
    float: left;
    padding: 0 10px 0 10px;
    margin: 0;
    width: 15rem;
    height: 15rem;
}

.aboutText {
    text-align: justify;
}

.icon img {
    height: 20px;
    width: 20px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4f4f50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftFoot {
    padding-left: 1rem;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding-right: 2rem;
}

.About {
    padding-right: 1rem;
}

@media (max-width: 600px) {
    .right ul,
    .slideContainer,
    .dot { 
        display: none;
    }
}

@media (min-width: 600px) {
    .right form,
    .smallContent {
        display: none;
    }
}