body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    /*-webkit-text-size-adjust: 100%;*/
}

.top {
    width:100%;
    background-color: #4f4f50;
    padding-top: 0px;
    border-bottom: 0px solid #eeeeed;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 5rem;
}

.title {
    font-size: xx-large;
    color: #eeeeed;
    font-weight: bold;
    align-self: center;
}

.links {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
    color: #eeeeed;
}

a:link {
    text-decoration: none;
    color:#eeeeed;
}

a:visited {
    text-decoration: none;
    color:#eeeeed;
}

a:hover { 
    color: rgb(231, 94, 94);
}

a:active { 
    color: rgb(255, 0, 0);
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

form {
    display: flex;
    gap: 1rem;
}

select {
    background-color: #4f4f50;
    color: #eeeeed;
    font-size: 18px;
    border: 1px solid #eeeeed;
    width: 5.5rem;
}

form input {
    background-color: #4f4f50;
    color: #eeeeed;
    font-size: 18px;
    border: 1px solid #eeeeed;
}

.slideContainer {
    display: flex;
    justify-content: center;
    max-width: 70%;
    position: relative;
    margin: auto;
    color: #eeeeed;   
}

.slideLayout{
    display: none; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #eeeeed;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left:0;
}

.next {
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

.backFade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.Layout-0 {
    background: url(images/BookCovers/draculaback.png) no-repeat;
    background-position: center;
    background-size: fit;
    background-color: grey;
    background-blend-mode: multiply;
    padding-left: 5%;
    padding-right: 5%;
}

.Layout-1 {
    background: url(images/BookCovers/Frankensteinback.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    padding-left: 5%;
    padding-right: 5%;
}

.Layout-2 {
    background: url(images/BookCovers/the-godfather-book-back.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    padding-left: 5%;
    padding-right: 5%;
}

.slideLayout {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slide {
    display: flex;
    justify-items: space-evenly;
    gap: 50px;
    padding: 5%;
}

.slide-cover {
    height: 200px;
    width: 150px;
    box-shadow: 0px 0px 50px #ffffff;
}

.slide-text {
    align-self: center;
    background-color: rgba(0,0,0,0.8);
}

.icon img {
    height: 20px;
    width: 20px;
}

.itemPic img {
    height: 200px;
    width: 200px;
}

.itemHighlightContainer {
    display: flex;
    justify-content: center;
    color: #eeeeed;
    margin-bottom: 100px;
    margin-top: 30px;
}

.itemHighlight {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-top: 0px;
}

.itemSynop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.itemSynop img {
    height: 40px;
    width: 40px;
}

audio {
    width:80%;
    padding-right: 1rem;
}

.button {
    background-color: black;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4f4f50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding-right: 2rem;
}

@media (max-width: 600px) {
    .right ul { 
        display: none;
    }
}

@media (min-width: 600px) {
    .right form {
        display: none;
    }
}